Repository nagatama-flutter/jimenshi_app, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, app, client, server, tool, config

.github/labeler.yml:

actions:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

app:
- changed-files:
  - any-glob-to-any-file: "app/**/*"

client:
- changed-files:
  - any-glob-to-any-file: "client/**/*"

server:
- changed-files:
  - any-glob-to-any-file: "app_server/**/*"
 
tool:
- changed-files:
  - any-glob-to-any-file: "tools/**/*"
  - any-glob-to-any-file: "scripts/**/*"

config:
- changed-files:
  - any-glob-to-any-file: "melos.yaml"
  - any-glob-to-any-file: "pubspec.*"

Add background movies (#20)
  app/assets/videos/simazaki_juggling.mp4
  app/assets/videos/simazaki_normal.mp4
  app/assets/videos/simazaki_smile.mp4
  app/assets/videos/simazaki_surprise.mp4
  app/ios/Podfile.lock
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/widget/message_bubble.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: app

Tweak ui
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

Fix change simazaki movies
  app/assets/videos/simazaki_juggling.mp4
  app/assets/videos/simazaki_normal.mp4
  app/assets/videos/simazaki_smile.mp4
  app/assets/videos/simazaki_surprise.mp4
Labels: app

Fix
  app/lib/feature.dart
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/contract/presentation.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/generative_ai/state.dart
  app/lib/feature/generative_ai/state/audio_file_notifier.dart
  app/lib/feature/generative_ai/state/message_list_notifier.dart
Labels: app

Fix
  app/lib/feature.dart
  app/lib/feature/contract/controller.dart
  app/lib/feature/generative_ai/presentation/widget/message_bubble.dart
  app/lib/gen.dart
Labels: app

Fix
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

Fix
  app/lib/feature/generative_ai.dart
  app/lib/feature/generative_ai/presentation.dart
  app/lib/feature/generative_ai/presentation/widget.dart
  app/lib/feature/generative_ai/presentation/widget/message_list.dart
Labels: app

Tweak UI (#21)
  app/lib/feature/contract/controller.dart
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/contract/presentation.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/generative_ai.dart
  app/lib/feature/generative_ai/presentation.dart
  app/lib/feature/generative_ai/presentation/widget.dart
  app/lib/feature/generative_ai/presentation/widget/message_bubble.dart
  app/lib/feature/generative_ai/presentation/widget/message_list.dart
  app/lib/feature/generative_ai/state.dart
  app/lib/feature/generative_ai/state/audio_file_notifier.dart
  app/lib/feature/generative_ai/state/message_list_notifier.dart
  app/lib/gen.dart
Labels: app

Add story text
  app/lib/data/story.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app_server/lib/src/config/prompt_message.dart
Labels: app, server

Add Land price
  app_server/lib/src/config/prompt_message.dart
Labels: server

Add video controller
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

Feat/story text (#22)
  app/lib/data/story.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app_server/lib/src/config/prompt_message.dart
Labels: app, server

Tweak UI (#23)
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

Add main image
  app/assets/images/tower.jpg
  app/assets/videos/cut_in.mp4
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

Add main image (#25)
  app/assets/images/tower.jpg
  app/assets/videos/cut_in.mp4
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

Add a process to return the negative/positive analysis results to the client.
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
Labels: client, server

Set initial login ID/password for demo.
  app/lib/feature/auth/presentation/sign_in_page.dart
Labels: app

Add a process to return the negative/positive analysis results to the client app. (#26)
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
Labels: client, server

Set initial login ID/password for demo. (#28)
  app/lib/feature/auth/presentation/sign_in_page.dart
Labels: app

Add cutin video
  app/assets/videos/cut_in.mp4
  app/lib/feature/auth/presentation/sign_in_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

Add cutin video (#30)
  app/assets/videos/cut_in.mp4
  app/lib/feature/auth/presentation/sign_in_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

Add select image
  app/assets/images/correct.jpeg
  app/assets/images/failure.jpg
  app/assets/images/halison.png
  app/assets/images/simazaki.jpg
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

fix quotation
  app/pubspec.yaml
Labels: app

Fix display image
  app/lib/feature/onboarding/presentation/start_page.dart
Labels: app

Add select image (#31)
  app/assets/images/correct.jpeg
  app/assets/images/failure.jpg
  app/assets/images/halison.png
  app/assets/images/simazaki.jpg
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

Fix display image
  app/assets/images/correct.jpeg
  app/assets/images/correct.png
  app/assets/images/failure.jpg
  app/assets/images/failure.png
  app/assets/images/simazaki.jpg
  app/assets/images/simazaki.png
  app/lib/data/story.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

Fix display image (#32)
  app/assets/images/correct.jpeg
  app/assets/images/correct.png
  app/assets/images/failure.jpg
  app/assets/images/failure.png
  app/assets/images/simazaki.jpg
  app/assets/images/simazaki.png
  app/lib/data/story.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

Add nullable
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
Labels: app, client, server

Add nullable (#33)
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
Labels: app, client, server

Add
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/feature/web/js_handler.dart
  app/lib/feature/web/js_handler_for_mobile.dart
  app/lib/feature/web/js_handler_for_web.dart
  app/web/app.js
  app/web/audio.js
  app/web/index.html
Labels: app

Fix
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/web/audio.js
Labels: app

Fix
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/web/js_handler_for_web.dart
Labels: app

Audio (#34)
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/web/js_handler.dart
  app/lib/feature/web/js_handler_for_mobile.dart
  app/lib/feature/web/js_handler_for_web.dart
  app/web/app.js
  app/web/audio.js
  app/web/index.html
Labels: app
