Repository nagatama-flutter/jimenshi_app, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, app, client, server, tool, config

Fix
  app/.firebaserc
  app/.metadata
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/build.gradle
  app/lib/feature/generative_ai/controller/post_message_controller.dart
  app/lib/feature/generative_ai/domain/message.dart
  app/lib/feature/generative_ai/presentation/widget/message_bubble.dart
  app/lib/feature/generative_ai/state/message_list_notifier.dart
  app/lib/feature/home/presentation/home_page.dart
  app/lib/feature/image/image_service.dart
  app/lib/router/app_router.gr.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
  app_server/Dockerfile
  app_server/compose.yaml
  app_server/config/staging.yaml
  app_server/docker-compose.yaml
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_image.dart
  app_server/lib/src/generated/generative_ai/generative_ai_message.dart
  app_server/lib/src/generated/generative_ai/generative_ai_message_request.dart
  app_server/lib/src/generated/protocol.dart
  app_server/lib/src/models/generative_ai/generative_ai_image.spy.yaml
  app_server/lib/src/models/generative_ai/generative_ai_message.spy.yaml
  app_server/lib/src/models/generative_ai/generative_ai_message_request.spy.yaml
  app_server/lib/src/provider/gemini_provider.dart
  app_server/migrations/20241101132455475/definition.json
  app_server/migrations/20241101132455475/definition.sql
  app_server/migrations/20241101132455475/definition_project.json
  app_server/migrations/20241101132455475/migration.json
  app_server/migrations/20241101132455475/migration.sql
  app_server/migrations/migration_registry.txt
  client/lib/src/protocol/generative_ai/generative_ai_image.dart
  client/lib/src/protocol/generative_ai/generative_ai_message.dart
  client/lib/src/protocol/generative_ai/generative_ai_message_request.dart
  client/lib/src/protocol/protocol.dart
Labels: app, client, server

Regenerate file
  app/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: app

Fix
  .gitignore
  README.md
  app/.firebaserc
  app/.metadata
  app/ios/Podfile.lock
  app/ios/Runner/Info.plist
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/test/widget_test.dart
  app_server/.gitignore
Labels: app, server

Fix dsn value
  app/lib/feature/sentry/domain/sentry_config.dart
Labels: app

Fix env
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: actions

Fix dsn value (#7)
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  app/lib/feature/sentry/domain/sentry_config.dart
Labels: actions, app

Fix config
  .vscode/launch.json
  Makefile
Labels: none

Fix launch config (#8)
  .vscode/launch.json
  Makefile
Labels: none

Add mock page
  app/ios/Podfile.lock
  app/lib/feature.dart
  app/lib/feature/contract.dart
  app/lib/feature/contract/presentation.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/image.dart
  app/lib/feature/onboarding.dart
  app/lib/feature/onboarding/presentation.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/feature/onborading.dart
  app/lib/feature/root.dart
  app/lib/feature/root/presentation.dart
  app/lib/feature/root/presentation/root_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
Labels: app

Fix
  app/lib/feature/auth/controller/email_auth_controller.dart
  app/lib/router/app_router.dart
Labels: app

Add home route for debug
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/router/app_router.dart
Labels: app

Add mock pages (#9)
  app/ios/Podfile.lock
  app/lib/feature.dart
  app/lib/feature/auth/controller/email_auth_controller.dart
  app/lib/feature/contract.dart
  app/lib/feature/contract/presentation.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/image.dart
  app/lib/feature/onboarding.dart
  app/lib/feature/onboarding/presentation.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/feature/onborading.dart
  app/lib/feature/root.dart
  app/lib/feature/root/presentation.dart
  app/lib/feature/root/presentation/root_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
Labels: app

Tweak onboading page
  app/lib/feature/onboarding/presentation/onboarding_page.dart
Labels: app

Fix
  app/lib/feature.dart
  app/lib/feature/auth/controller/email_auth_controller.dart
  app/lib/feature/auth/controller/google_auth_controller.dart
  app/lib/feature/onboarding/presentation.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
  app/lib/theme/app_theme.dart
Labels: app

Tweak onboading page
  app/lib/feature/onboarding/presentation/onboarding_page.dart
Labels: app

Tweak story page
  app/lib/feature/onboarding/presentation/story_page.dart
Labels: app

Contract negotiation page
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/widget/message_bubble.dart
Labels: app

Fix
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/widget/message_bubble.dart
Labels: app

Tweak result page
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
Labels: app

Tweak UI (#10)
  app/lib/feature.dart
  app/lib/feature/auth/controller/email_auth_controller.dart
  app/lib/feature/auth/controller/google_auth_controller.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/contract/presentation/widget/message_bubble.dart
  app/lib/feature/onboarding/presentation.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
  app/lib/theme/app_theme.dart
Labels: app

Add text-to-speech processing to the server.
  app_server/.sample.env
  app_server/lib/src/config/config.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/pubspec.yaml
  app_server/relaunch.sh
Labels: server

Add text-to-speech processing to the server. (#11)
  app_server/.sample.env
  app_server/lib/src/config/config.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/pubspec.yaml
  app_server/relaunch.sh
Labels: server

Add personality
  app_server/lib/src/config/prompt_message.dart
  app_server/lib/src/provider/gemini_provider.dart
Labels: server

Add Personality
  app/lib/feature/home/presentation/home_page.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
Labels: app, server

Fix personalities
  app/lib/feature/home/presentation/home_page.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
Labels: app, server

Feat/personality (#12)
  app/lib/feature/home/presentation/home_page.dart
  app_server/lib/src/config/prompt_message.dart
  app_server/lib/src/provider/gemini_provider.dart
Labels: app, server

Add a process to notify the client of the URL of the generated audio file.
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/generated/protocol.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  app_server/pubspec.lock
  app_server/relaunch.sh
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
  client/lib/src/protocol/protocol.dart
Labels: app, client, server

Fix page
  app/lib/config/config.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/generative_ai/controller/post_message_controller.dart
  app/lib/feature/generative_ai/controller/start_conversation_controller.dart
  app/lib/feature/generative_ai/state/current_conversation_id_notifier.dart
  app/lib/feature/home/presentation/home_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
Labels: app

Post text with api
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

Implemented connection with API (#15)
  app/lib/config/config.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/generative_ai/controller/post_message_controller.dart
  app/lib/feature/generative_ai/controller/start_conversation_controller.dart
  app/lib/feature/generative_ai/state/current_conversation_id_notifier.dart
  app/lib/feature/home/presentation/home_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
Labels: app

Add a process to notify the client of the URL of the generated audio file. (#14)
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/generated/protocol.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  app_server/pubspec.lock
  app_server/relaunch.sh
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
  client/lib/src/protocol/protocol.dart
Labels: app, client, server

Add video player package
  app/android/app/src/main/AndroidManifest.xml
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
Labels: app

Add video player package (#17)
  app/android/app/src/main/AndroidManifest.xml
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
Labels: app

Remove home route
  app/lib/feature.dart
  app/lib/feature/generative_ai/controller/post_message_controller.dart
  app/lib/feature/home.dart
  app/lib/feature/home/presentation.dart
  app/lib/feature/home/presentation/example_page.dart
  app/lib/feature/home/presentation/home_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
Labels: app

Add a process to notify the client of the cut-in timing.
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_cut_in.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/generated/protocol.dart
  app_server/lib/src/models/generative_ai/generative_ai_cut_in.spy.yaml
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_cut_in.dart
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
  client/lib/src/protocol/protocol.dart
Labels: app, client, server

Add a process to notify the client of the cut-in timing. (#18)
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_cut_in.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/generated/protocol.dart
  app_server/lib/src/models/generative_ai/generative_ai_cut_in.spy.yaml
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_cut_in.dart
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
  client/lib/src/protocol/protocol.dart
Labels: app, client, server

Add cut in
  app/lib/feature.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/widget.dart
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app/lib/feature/generative_ai/state.dart
  app/lib/feature/generative_ai/state/is_displaying_cut_in_provider.dart
  app/lib/feature/generative_ai/state/message_list_notifier.dart
Labels: app

Fix
  app/lib/feature.dart
  app/lib/feature/onborading.dart
Labels: app

Add cut in (#19)
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/widget.dart
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app/lib/feature/generative_ai/state.dart
  app/lib/feature/generative_ai/state/is_displaying_cut_in_provider.dart
  app/lib/feature/generative_ai/state/message_list_notifier.dart
  app/lib/feature/onborading.dart
Labels: app

Add background movies
  app/assets/videos/simazaki_juggling.mp4
  app/assets/videos/simazaki_normal.mp4
  app/assets/videos/simazaki_smile.mp4
  app/assets/videos/simazaki_surprise.mp4
  app/ios/Podfile.lock
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/widget/message_bubble.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: app

.github/labeler.yml:

actions:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

app:
- changed-files:
  - any-glob-to-any-file: "app/**/*"

client:
- changed-files:
  - any-glob-to-any-file: "client/**/*"

server:
- changed-files:
  - any-glob-to-any-file: "app_server/**/*"
 
tool:
- changed-files:
  - any-glob-to-any-file: "tools/**/*"
  - any-glob-to-any-file: "scripts/**/*"

config:
- changed-files:
  - any-glob-to-any-file: "melos.yaml"
  - any-glob-to-any-file: "pubspec.*"
