Repository nagatama-flutter/jimenshi_app, pull requests merged in 2024-11, with the labels that each got.

#7 Fix dsn value
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  app/lib/feature/sentry/domain/sentry_config.dart
Labels: app, actions

#9 Add mock pages
  app/ios/Podfile.lock
  app/lib/feature.dart
  app/lib/feature/auth/controller/email_auth_controller.dart
  app/lib/feature/contract.dart
  app/lib/feature/contract/presentation.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/image.dart
  app/lib/feature/onboarding.dart
  app/lib/feature/onboarding/presentation.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/feature/onborading.dart
  app/lib/feature/root.dart
  app/lib/feature/root/presentation.dart
  app/lib/feature/root/presentation/root_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
Labels: app

#10 Tweak UI
  app/lib/feature.dart
  app/lib/feature/auth/controller/email_auth_controller.dart
  app/lib/feature/auth/controller/google_auth_controller.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/contract/presentation/widget/message_bubble.dart
  app/lib/feature/onboarding/presentation.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
  app/lib/theme/app_theme.dart
Labels: app

#11 Add text-to-speech processing to the server.
  app_server/.sample.env
  app_server/lib/src/config/config.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/pubspec.yaml
  app_server/relaunch.sh
Labels: server

#15 Implemented connection with API
  app/lib/config/config.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/generative_ai/controller/post_message_controller.dart
  app/lib/feature/generative_ai/controller/start_conversation_controller.dart
  app/lib/feature/generative_ai/state/current_conversation_id_notifier.dart
  app/lib/feature/home/presentation/home_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.gr.dart
Labels: app

#14 Add a process to notify the client of the URL of the generated audio file.
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/generated/protocol.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  app_server/pubspec.lock
  app_server/relaunch.sh
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
  client/lib/src/protocol/protocol.dart
Labels: server, client, app

#17 Add video player package
  app/android/app/src/main/AndroidManifest.xml
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
Labels: app

#18 Add a process to notify the client of the cut-in timing.
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_cut_in.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/generated/protocol.dart
  app_server/lib/src/models/generative_ai/generative_ai_cut_in.spy.yaml
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_cut_in.dart
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
  client/lib/src/protocol/protocol.dart
Labels: server, client, app

#19 Add cut in
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/contract/presentation/widget.dart
  app/lib/feature/generative_ai/data/generative_ai_stream.dart
  app/lib/feature/generative_ai/state.dart
  app/lib/feature/generative_ai/state/is_displaying_cut_in_provider.dart
  app/lib/feature/generative_ai/state/message_list_notifier.dart
  app/lib/feature/onborading.dart
Labels: app

#21 Tweak UI
  app/lib/feature/contract/controller.dart
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/contract/presentation.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app/lib/feature/generative_ai.dart
  app/lib/feature/generative_ai/presentation.dart
  app/lib/feature/generative_ai/presentation/widget.dart
  app/lib/feature/generative_ai/presentation/widget/message_bubble.dart
  app/lib/feature/generative_ai/presentation/widget/message_list.dart
  app/lib/feature/generative_ai/state.dart
  app/lib/feature/generative_ai/state/audio_file_notifier.dart
  app/lib/feature/generative_ai/state/message_list_notifier.dart
  app/lib/gen.dart
Labels: app

#22 Feat/story text
  app/lib/data/story.dart
  app/lib/feature/onboarding/presentation/onboarding_page.dart
  app/lib/feature/onboarding/presentation/story_page.dart
  app_server/lib/src/config/prompt_message.dart
Labels: server, app

#23 Tweak UI
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

#25 Add main image
  app/assets/images/tower.jpg
  app/assets/videos/cut_in.mp4
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

#26 Add a process to return the negative/positive analysis results to the client app.
  app_server/lib/src/endpoints/generative_ai_endpoint.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
Labels: server, client

#28 Set initial login ID/password for demo.
  app/lib/feature/auth/presentation/sign_in_page.dart
Labels: app

#30 Add cutin video
  app/assets/videos/cut_in.mp4
  app/lib/feature/auth/presentation/sign_in_page.dart
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
Labels: app

#31 Add select image
  app/assets/images/correct.jpeg
  app/assets/images/failure.jpg
  app/assets/images/halison.png
  app/assets/images/simazaki.jpg
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

#32 Fix display image
  app/assets/images/correct.jpeg
  app/assets/images/correct.png
  app/assets/images/failure.jpg
  app/assets/images/failure.png
  app/assets/images/simazaki.jpg
  app/assets/images/simazaki.png
  app/lib/data/story.dart
  app/lib/feature/contract/presentation/contract_decision_page.dart
  app/lib/feature/contract/presentation/contract_result_failure_page.dart
  app/lib/feature/contract/presentation/contract_result_success_page.dart
  app/lib/feature/onboarding/presentation/start_page.dart
  app/lib/gen/assets.gen.dart
  app/pubspec.yaml
Labels: app

#33 Add nullable
  app/lib/feature/contract/presentation/contract_negotiation_page.dart
  app_server/lib/src/generated/generative_ai/generative_ai_speech_audio.dart
  app_server/lib/src/models/generative_ai/generative_ai_speech_audio.spy.yaml
  client/lib/src/protocol/generative_ai/generative_ai_speech_audio.dart
Labels: server, client, app

#34 Audio
  app/lib/feature/contract/controller/audio_play_controller.dart
  app/lib/feature/web/js_handler.dart
  app/lib/feature/web/js_handler_for_mobile.dart
  app/lib/feature/web/js_handler_for_web.dart
  app/web/app.js
  app/web/audio.js
  app/web/index.html
Labels: app
